<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Travel Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        .container {
            margin-top: 40px;
        }
        .navigation {
            float: right;
        }
        h2 {
            margin: 20px 0px 20px 0px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="navigation"><a href="/logout">Log Out</a></div>
        <h5>Hello, {{user.name.title}}!</h5>
        <h2>Your Trip Schedule</h2>
        <table class="table table-hover table-striped table-bordered">
            <thead>
                <tr>
                <th scope="col">Destination</th>
                <th scope="col">Travel Start Date</th>
                <th scope="col">Travel End Date</th>
                <th scope="col">Plan</th>
                </tr>
            </thead>
            <tbody>
                {% for uplan in userplans %}
                <tr>
                    <td><a href="/show_plan/{{uplan.id}}">{{uplan.destination}}</a></td>
                    <td>{{uplan.travelstart}}</td>
                    <td>{{uplan.travelend}}</td>
                    <td>{{uplan.description}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>


        <h2>Other Users' Travel Plans</h2>
        <table class="table table-hover table-striped table-bordered">
            <thead>
                <tr>
                <th scope="col">Name</th>
                <th scope="col">Destination</th>
                <th scope="col">Travel Start Date</th>
                <th scope="col">Travel End Date</th>
                <th scope="col">Do you want to join?</th>
                </tr>
            </thead>
            <tbody>
                {% for plan in join %}
                <tr>
                    <td>{{plan.added_by.name}}</td>
                    <td><a href="/show_plan/{{plan.id}}">{{plan.destination}}</a></td>
                    <td>{{plan.travelstart}}</td>
                    <td>{{plan.travelend}}</td>
                    <td><a href="/join_plan/{{plan.id}}">Join</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br><br>
        <td><a href="/add_plan">Add Travel Plan</a></td>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>